SECRET_KEY='your-django-secret-key'
DEBUG=true-or-false
ALLOWED_HOSTS=your-allowed-host
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=your_db_port(optional)
EMAIL_HOST=your-mail-server
EMAIL_PORT=your-mail-server-port
EMAIL_HOST_USER='no-reply@yourdomain.com'
EMAIL_HOST_PASSWORD='app-password'
DEFAULT_FROM_EMAIL="Your App <no-reply@yourdomain.com>"
CELERY_BROKER_URL=your-message-broker-url
CELERY_RESULT_BACKEND=your-db-url